<%- include('includes/head'); %>
    <%- include('includes/nav'); %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-5">
                    <h1 class="text-center">Criar conta ou entrar</h1>
                    <p class="text-center lead">Faça login ou crie a sua conta abaixo.</p>

                    <%- include('includes/messages'); %>

                    <div class="row my-3">
                        <div class="col-lg my-5">
                            <h4>Crie sua conta</h4>
                            <p>Se você ainda não possui uma conta, preencha o formulário abaixo:</p>

                            <form class="form-cadastro" action="/login/register" method="POST">
                                <input type="hidden" name="_csrf" value=<%= csrfToken%>>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" name="email">
                                    <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Criar Conta</button>
                            </form>
                            <div class="resultado-senha"></div>
                        </div>

                        <div class="col-lg my-5">
                            <h4>Faça login</h4>
                            <p>Se já possui uma conta, logue com seus dados abaixo:</p>

                            <form class="form-login" action="/login/login" method="POST">
                                <input type="hidden" name="_csrf" value=<%= csrfToken%>>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" name="email">
                                    <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </form>
                            <div class="resultado-login"></div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('includes/footer'); %>